@model BookDetails.ViewModels.BookEditModel
@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div>
        <div class="d-flex justify-content-between text-white bg-secondary p-1 mb-2">
            <h4 class="mt-1 ms-2 ">Edit Book</h4>
            <div>
                <a asp-controller="Books" asp-action="Index" class="btn  btn-sm bg-light p-2">List</a>
            </div>
        </div>
    </div>
    <div class="col-8">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(b=>b.BookId)
            <div class="form-group row mb-1">
                <div class="col-3 ">
                    @Html.LabelFor(x => x.Publisher, new { @class = "col-form-label col-2" })
                </div>

                <div class="col-6">
                    @Html.DropDownListFor(x => x.PublisherId, new SelectList(ViewBag.Publishers, "PublisherId", "PublisherName"), "Select one", new { @class = "form-select" })
                    @Html.ValidationMessageFor(x => x.PublisherId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-3">
                    <label asp-for="Title" class="control-label"></label>
                </div>

                <div class="col-6">
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-3">
                    <label asp-for="PublishDate" class="control-label"></label>
                </div>

                <div class="col-6">
                    <input  asp-for="PublishDate" type="date" class="form-control" />
                    <span asp-validation-for="PublishDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-3">
                    <label asp-for="TotalPage" class="control-label"></label>
                </div>

                <div class="col-6">
                    <input asp-for="TotalPage" class="form-control" />
                    <span asp-validation-for="TotalPage" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-3">
                    <label asp-for="CoverPrice" class="control-label"></label>
                </div>

                <div class="col-6">
                    <input asp-for="CoverPrice" class="form-control" />
                    <span asp-validation-for="CoverPrice" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label offset-2">
                    @Html.DisplayNameFor(model => model.IsStock)
                    <input class="form-check-input" asp-for="IsStock" />
                </label>
            </div>
            <div class="form-group row mb-2">
                <div class="col-3">
                    <label asp-for="CoverPage" class="control-label"></label>
                </div>

                <div class="col-6 ">
                    @Html.TextBoxFor(x => x.CoverPage, new { @class = "form-control", @type="file" })
                    <span asp-validation-for="CoverPage" class="text-danger"></span>
                </div>
            </div>
            <div class="justify-content-end offset-2">
                <button type="submit" class="btn btn-primary btn-sm text-end">Edit</button>
            </div>
        </form>
    </div>
    <div class="col-4">
        <img src="~/BookImages/@ViewBag.CoverPage" class="img-thumbnail" style="width:200px" />
    </div>
</div>
